@page
@model reservasModel
@{
    ViewData["Title"] = "reservas";
}
<link href="~/css/estilo.css" rel="stylesheet" />

@Html.AntiForgeryToken()
<center>
    <div>
        <form method="POST"
            enctype="multipart/form-data">
            @Html.AntiForgeryToken()

            <div class="dashboard-background">
                <div class="dashboard-container">

            <div class="dashboard-header" align="left">
                <h3 style="color:white">GESTIÓN DE RESERVAS</h3>
            </div>

            <div class="action-buttons">
                <input type="submit"
                    value="Refrescar"
                    class="btn-dashboard btn-refresh"
                    asp-page-handler="BtRefrescar" />
                <input type="submit"
                    value="Nuevo"
                    class="btn-dashboard btn-new"
                    asp-page-handler="BtNuevo"
                    disabled="@(Model.reserva != null)"/>
                <input type="submit"
                    value="Guardar"
                    class="btn-dashboard btn-save"
                    asp-page-handler="BtGuardar"
                    disabled="@(Model.reserva == null)"/>
            </div>

            @if (Model.reserva != null)
            {
                <input type="hidden" 
                    asp-for="@Model.reserva!.id"/>
                <div>
                
                    <div class="form-group">
                        <label style="color:white">
                            Fecha y hora 
                        </label>
                        <div class="col-6">
                            <input type="datetime"
                                   id="inFecha"
                                   class="cts_forms form-control"
                                   asp-for="@Model.reserva!.fechaHoraReserva" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label style="color:white">
                            Número de personas
                        </label>
                        <div class="col-6">
                            <input id="inNroPersonas"
                                   class="cts_forms form-control"
                                   asp-for="@Model.reserva!.numeroPersonas" />
                        </div>
                    </div>
                            <div class="form-group">
                                <label style="color:white">
                                    Requerimientos
                                </label>
                                <div class="col-6">
                                    <input id="inRequerimientos"
                                           class="cts_forms form-control"
                                           asp-for="@Model.reserva!.requerimientosEspeciales" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label style="color:white">
                                    Estado de la reserva
                                </label>
                                <div class="col-6">
                                    <select id="seRol"
                                            class="cts_forms form-control"
                                            asp-for="@Model.reserva!.estadoReserva"
                                            asp-items="@(new SelectList(Model.ListaEstadoReserva, "id", "nombre"))">
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label style="color:white">
                                    Cliente
                                </label>
                                <div class="col-6">
                                    <select id="seCliente"
                                            class="cts_forms form-control"
                                            asp-for="@Model.reserva!.clientes"
                                            asp-items="@(new SelectList(Model.ListaClientes, "id", "nombre"))">
                                    </select>

                                </div>
                            </div>

                           

                    </div>
            }

            
            @if (ViewData.ContainsKey("Mensaje"))
            {
                @await Html.PartialAsync("../Emergentes/Mensajes.cshtml");
            }

            @if (Model.reserva != null && Model.Borrando)
            {
                <div class='popup'>
                    <div class='pp_ms_inner'>
                        <div style='width:95%'>
                                    <h2 align="left" style="color:white">
                                Mensaje
                            </h2>

                                    <h6 align="left" style="color:white">
                                Desea borrar el reserva?
                            </h6>
                                    <h6 align="left" style="color:white">
                                @Model.reserva!.id
                            </h6>
                            
                            <input type="submit"
                                   value="Cerrar"
                                   asp-page-handler="BtCerrar"
                                   class="btn btn-secondary" />
                            <input type="submit"
                                   value="Borrar"
                                   asp-page-handler="BtBorrar"
                                   class="btn btn-secondary" />
                        </div>
                    </div>
                </div>
            }

            @if (Model != null &&
                 Model.Lista != null &&
                 Model.Lista.Count > 0 )
            {
         <div class="admin-card table-card">
            <div class="table-responsive">
                <table class="custom-table">
                    <tr>
                        <th>
                            Fecha Y hora
                        </th>
                        <th>
                            Número de personas
                        </th>
                        <th>
                            Requerimientos
                        </th>
                        <th>
                            Estado de la reserva
                        </th>
                        <th>
                            Cliente
                        </th>

                    </tr>
                    @foreach (var elemento in Model.Lista)
                    {
                        <tr>
                            <td>
                                @elemento.fechaHoraReserva
                            </td>
                            <td>
                                @elemento.numeroPersonas
                            </td>
                            <td>
                                @elemento.requerimientosEspeciales
                            </td>
                            <td>
                                @elemento._estadoReserva!.nombre
                            </td>
                            <td>
                                @elemento._clientes!.nombre
                            </td>
                            

                            <td>
                                <input type="submit"
                                    value="Modificar"
                                    asp-page-handler="BtModificar"
                                    class="btn-table btn-modify"
                                    asp-route-data="@elemento.id" />
                                <input type="submit"
                                    value="Borrar"
                                    asp-page-handler="BtBorrarVal"
                                    class="btn-table btn-delete"
                                    asp-route-data="@elemento.id" />
                            </td>
                        </tr>
                    }
                </table>
            </div>
         </div>
            }
                </div>
            </div>
        </form>
   
    </div>
</center>